body{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsHu40dc7UtXoRPCmS4tIrnQWNjOlaHrZEiA&ss");
    background-repeat : no-repeat;
    background-size : 150%;
}
.register{
    margin: 240px auto;
    width: 300px;
    background-color:rgba(0,0,0,0.1) ;
   padding-left: 4px;
   color: #3A445D;
}
.register h3{
    margin: 6px;
    margin-top: 6px;
    color: rgba(112, 29, 29, 0.938);
     text-align: center;

}
.register label{
    display: block;
   
}
.register button{
    margin-left: 130px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid #bb9c37;
    box-shadow: 2px;
}
.input input{
    width: 95%;
    font-size: 1.0em;
    border-color: 1px solid #3A445D;
    border-radius: 5px;
    padding: 5px 5px;
    box-sizing: border-box;
    margin: 5px 0px 5px;
    box-shadow: 3px;
}
 input:focus{
    background-color: #edd89213;
 }
